<% @active_page = 'inicio' %>

<div class="banner featured">
	<div class="container welcome">
	<h1 class="title">Desenvolvemos soluções através de software</h1>	
	<h2>
		Somos apaixonados por software e amamos desenvolver <span class="hue_block">soluções</span> 
		simples e práticas
	</h2>
	<h4 class="text-right"><a href="#">conheça nossos produtos</a></h4>
	</div>
</div>

<div class="container container-padding">
	

	<div id="sisagilCarousel" class="carousel slide">
		
		<div class="carousel-inner">
			 <ol class="carousel-indicators">
			    <li data-target="#sisagilCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#sisagilCarousel" data-slide-to="1"></li>
			    <li data-target="#sisagilCarousel" data-slide-to="2"></li>
			  </ol>
			<div class="active item">
				 <div class="row">
					<div class="span6">
						<h4>Conheça o Sisagil</h4>
						<p>
						Sistema de gerenciamento empresarial e emissão de NF-e para pequenas e
						médias empresas.
						</p>
						<p>O melhor custo/benefício do mercado.</p>
						<p>Totalmente Web.</p> <p>Simples e fácil.</p>
						
						<br/>
						
						<a href="http://sisagil.com/sobre" target="_blank">Mais detalhes</a>
						
					</div>
					<div class="span6">
						<img src="/assets/banner/ipads-sisagil.png" class="img-polaroid"/>
					</div>
				 </div>
			</div>
			<div class="item">
				 <div class="row">
					<div class="span6">sdads</div>
					<div class="span6">sdads</div>
				 </div>
			</div>
			<div class="item">
				<div class="row">
					<div class="span6">sdads</div>
					<div class="span6">sdads</div>
				 </div>
			</div>
		</div>
		
	</div>

</div>


<div class="banner">
	<div class="container">
	<h2>O que dizem nossos clientes</h2>

	<div id="myCarousel" class="depoimentos carousel slide">

		<!-- Carousel items -->
		<div class="carousel-inner">
			 <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			<div class="active item">
				<blockquote>
				  <p>A Zangraf Digital Fotolivro buscou na Parseint uma parceria ágil, criativa e de qualidade no desenvolvimento de Software sob demanda.</p>
				  <small>Marcelo Pedrazzani | <cite title="Empresa">Zangraf Digital</cite></small>
				</blockquote>

			</div>
			<div class="item">
				<blockquote>
				  <p>Estou bastante contente com as continuas evoluções. Todas as pendências sempre foram resolvidas de forma rápida e eficiente. O Sisagil com certeza é o melhor de todos.</p>
				  <small>Anilda Trento | <cite title="Empresa">Magazine Renascença</cite></small>
				</blockquote>
			</div>
			<div class="item">
				<blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>
		</div>
		
	</div>


	</div>
</div>



<script type="text/javascript">
	$(function() {
		$('#myCarousel').carousel({interval: 8000, cycle: true});
		//$('#sisagilCarousel').carousel({interval: 4000, cycle: true});
		
	});
</script>