<% @active_page = 'produtos' %>

<% content_for :head do %>
  Produtos
<% end %>


<div class="banner featured">
	<div class="container welcome">
	<h1 class="title">Produtos</h1>	
	<h2>produtos?</h2>
	
	</div>
</div>

<div class="banner">
	<div class="container">
	<h4>
		 Somos uma pequena empresa apaixonada por desenvolver software e principalmente entregar soluções. Temos como objetivo criar sistemas web e mobile.
	</h4>
	</div>
</div>



<div class="container container-padding">

	<div class="row">

		<div class="span6">
			<a href="images/fullscreen/2.jpg" rel="prettyPhoto" title="This is the description">
				<img src="images/thumbnails/t_2.jpg" width="60" height="60" alt="This is the title" />
			</a> 
		</div>
		<div class="span6">
			<div class="well">opa</div> 
		</div>
	</div>

</div>
